<Modal :visible.sync="isFilterModalShow"
       title="请输入过滤条件"
       @on-ok="filterModalOk"
       @on-cancel="filterModalCancel"
       width="800">
    <div style="padding: 0 120px; max-height: 270px; overflow-y: scroll">

        <div style="min-height: 35px" v-if="filterPropertiesSelect">
            <v-select placeholder="选择条件" style="width: 100px;margin-right: 5px"
                      size="lg"
                      :options="filterPropertiesSelect"
                      @change="filterPropertiesSelectChange"></v-select>
            <v-button style="height: 32px; margin-right: 5px"
                      type="success"
                      @click="createFilterCriterion">新增
            </v-button>
            <span>
               <v-alert v-if="isErrorModalShow"
                        style="display: inline-block; width: 250px; height: 32px; margin-bottom: 0" type="error"
                        :show-icon="true" message="请选选择条件再新建"></v-alert>
            </span>
        </div>

        <div v-for="(index, criterion) in filterCriteria" style="margin: 7px 0">

            <i-input :value.sync="criterion.Property.label"
                     style="margin-right: 5px; width: 100px;display: inline-block;pointer-events: none;"></i-input>

            <v-select placeholder="过滤条件" style="width: 120px;margin-right: 5px;"
                      @change="criterionChange(criterion, $arguments)"
                      :value="criterion.Type"
                      size="lg"
                      :max-height="150"
                      :options="criterion.Select"></v-select>

            <span v-if="criterion.Type === 'isNull' ">
                    <i-input :placeholder=" '已设定 '+criterion.Property.label + ' 不能为空' "
                             style="width: 200px;display:inline-block" disabled></i-input>
            </span>

            <span v-if="criterion.Type === 'eq' ">
                    <i-input :value.sync="criterion.FilterValue.Value" placeholder="请输入值"
                             style="width: 200px;display: inline-block"></i-input>
            </span>

            <span v-if="criterion.Type === 'between' ">
                    <Date-picker style="display: inline-block" type="date" placeholder="开始日期"
                                 style="width: 200px"></Date-picker>
                    <Date-picker style="display: inline-block" type="date" placeholder="结束日期"
                                 style="width: 200px"></Date-picker>
            </span>

            <span v-if="criterion.Type === 'ge' ">
                    <v-datepicker></v-datepicker>
            </span>

            <span v-if="criterion.Type === 'le' ">
                    <v-datepicker></v-datepicker>
            </span>

            <span v-if="criterion.Type === 'like' ">
                    <i-input :value.sync="criterion.FilterValue.Value" placeholder="like"
                             style="width: 200px;display: inline-block"></i-input>
            </span>

            <v-icon v-if="filterCriteria.isMandatory"
                    @click="filterCriteria.splice(index, 1)" style="color: #f00; font-size: 18px; margin-left: 5px"
                    type="minus-circle"></v-icon>

        </div>

        <v-button type="success" @click="filterModalOk">add Test</v-button>

    </div>
</Modal>